<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    <div class="sidebar-index">
        <div class="section-level-1"><a href="#1.">1. Introduction</a><br></div>
        <div class="section-level-1"><a href="#2.">2. Overview of WebRTC Architecture</a><br></div>
        <div class="section-level-2"><a href="#2.1.">  2.1. Underlying Technologies</a><br></div>
        <div class="section-level-1"><a href="#3.">3. Browser-based Security Considerations</a><br></div>
        <div class="section-level-2"><a href="#3.1.">   3.1. Browser Trust Model</a><br></div>
        <div class="section-level-2"><a href="#3.2.">   3.2. SOP: Same Origin Policy</a><br></div>
        <div class="section-level-3"><a href="#3.2.1.">       3.2.1. Bypassing SOP</a><br></div>
        <div class="section-level-1"><a href="#4.">4. WebRTC Security Considerations</a><br></div>
        <div class="section-level-2"><a href="#4.1.">    4.1. Installation and Updates</a><br></div>
        <div class="section-level-2"><a href="#4.2.">    4.2. Access to Media/Local resources</a><br></div>
        <div class="section-level-2"><a href="#4.3.">    4.3. Media Encryption & Communication Security</a><br></div>
        <div class="section-level-3"><a href="#4.3.1.">       4.3.1. DTLS: Datagram Transport Layer Security</a><br></div>
        <div class="section-level-4"><a href="#4.3.1.1.">           4.3.1.1. DTLS over TURN</a><br></div>
        <div class="section-level-3"><a href="#4.3.2.">       4.3.2. SRTP: Secure Real-time Transport Protocol</a><br></div>
        <div class="section-level-3"><a href="#4.3.3.">       4.3.3. Establishment of a secure link</a><br></div>
        <div class="section-level-3"><a href="#4.3.4.">       4.3.4. DTLS-SRTP vs SDES</a><br></div>
        <div class="section-level-3"><a href="#4.3.5.">       4.3.5. A Weakness in SRTP</a><br></div>
        <div class="section-level-2"><a href="#4.4.">    4.4. Web-Based Peer Authentication / Identity Management</a><br></div>
        <div class="section-level-2"><a href="#4.5.">    4.5. IP Location Privacy</a><br></div>
        <div class="section-level-2"><a href="#4.6.">    4.6. Signalling Layer</a><br></div>
        <div class="section-level-3"><a href="#4.6.1.">       4.6.1. SIP Vulnerabilities</a><br></div>
        <div class="section-level-2"><a href="#4.7.">    4.7. Additional Security Topics</a><br></div>
        <div class="section-level-1"><a href="#5.">5. Comparison with competing/similar technologies</a><br></div>
        <div class="section-level-1"><a href="#6.">6. Good (secure) coding conventions for WebRTC applications.</a><br></div>
        <div class="section-level-1"><a href="#7.">7. Conclusion</a><br></div>
        <div class="section-level-1"><a href="#8.">8. Bibliography</a><br></div>
    </div>
      
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

<!--    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>-->
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
